/* Gælder "404.html" */


.pnfpage {
    background-repeat: no-repeat;
    background-image: url(../Images/404.png);
} /* Sætter baggrundsbillede på "pnfpage" class (404 siden) */

.pnfpage {
    position: relative;
    left: 804px;
    top: 596px;
} /*Bestemmer position for class (404 siden */

/* Slut "404.html" */





/* Gælder "Frontpage.html" */

#frontpage_body {
    background-image: url(../Images/mainbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}/*Frontpage main background*/

.frontpage_h1 {    
    text-align: center;
    color: #002e5a;
    font-weight: normal;
    margin-block-start: 30px;
} /*Definerer hvor logo og overskrift skal placeres (frontpage siden) */


.frontpage_h1:hover {
    text-decoration: underline; 
} /*Giver "frontpage_h1" tekst underline når man hover over den */


.frontpage_produkter {
    text-align: center;
}








.Frontpage_top_nav {
    display: grid;
    grid-template-columns: 33px 33px 33px 33px 33px 33px;
    grid-template-rows: 33% 33% 33%;
    grid-column-gap: 70px;
    margin-left: 31.5%
} /* TEST */

/* Slut "Frontpage.html" */








/* Gælder "Om.html" */

.Om_body {
    font-family: arial;
    font-size: 12px;

} 

.Om_bod
#Om_birthe1 {
    width: 45%;
}
y_1 {
    font-size: 200%;
}

h2 {
    font-size: 1.3em;
}

/* Slut "Om.html" */


/* Gælder "tilbude.html"*/
.tilbude_logo {
    align-self: center;
}
#tilbude_body {
    background-image: url(../Images/mainbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}